@tailwind base;
@tailwind components;
@tailwind utilities;

.html-screen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background: black;
}

.hover\:rotate-20:hover {
  @apply rotate-20;
}
